
# Ignore specific directory
examples/cpu_cuda/bump/

# Ignore patterns for examples/cpu_cuda/benchmark_tests/flood_speed
examples/cpu_cuda/benchmark_tests/flood_speed/*.png
examples/cpu_cuda/benchmark_tests/flood_speed/*.data
examples/cpu_cuda/benchmark_tests/flood_speed/*.log
examples/cpu_cuda/benchmark_tests/flood_speed/*.tex
examples/cpu_cuda/benchmark_tests/flood_speed/*.ini
examples/cpu_cuda/benchmark_tests/flood_speed/*.out
examples/cpu_cuda/benchmark_tests/flood_speed/*.dat
examples/cpu_cuda/benchmark_tests/flood_speed/*.asc
examples/cpu_cuda/benchmark_tests/flood_speed/*.pyc
examples/cpu_cuda/benchmark_tests/flood_speed/fort.*
examples/cpu_cuda/benchmark_tests/flood_speed/_plots/
examples/cpu_cuda/benchmark_tests/flood_speed/__pycache__/
examples/cpu_cuda/benchmark_tests/flood_speed/*.pyc
examples/cpu_cuda/benchmark_tests/flood_speed/gauge*

# Ignore patterns for examples/cpuflood/malpasset
examples/cpuflood/malpasset/*.png
examples/cpuflood/malpasset/*.data
examples/cpuflood/malpasset/*.log
examples/cpuflood/malpasset/*.tex
examples/cpuflood/malpasset/*.ini
examples/cpuflood/malpasset/*.out
examples/cpuflood/malpasset/*.dat
examples/cpuflood/malpasset/*.asc
examples/cpuflood/malpasset/*.pyc
examples/cpuflood/malpasset/fort.*
examples/cpuflood/malpasset/_plots/
examples/cpuflood/malpasset/__pycache__/
examples/cpuflood/malpasset/*.pyc
examples/cpuflood/malpasset/gauge*

# Ignore patterns for examples/cpuflood/teton
examples/cpuflood/teton/*.png
examples/cpuflood/teton/*.data
examples/cpuflood/teton/*.log
examples/cpuflood/teton/*.tex
examples/cpuflood/teton/*.ini
examples/cpuflood/teton/*.out
examples/cpuflood/teton/*.dat
examples/cpuflood/teton/*.asc
examples/cpuflood/teton/*.pyc
examples/cpuflood/teton/fort.*
examples/cpuflood/teton/_plots/
examples/cpuflood/teton/__pycache__/
examples/cpuflood/teton/*.pyc
examples/cpuflood/teton/gauge*

# Ignore patterns for examples/cpuflood/triton
examples/cpuflood/triton/*.png
examples/cpuflood/triton/*.data
examples/cpuflood/triton/*.log
examples/cpuflood/triton/*.tex
examples/cpuflood/triton/*.ini
examples/cpuflood/triton/*.out
examples/cpuflood/triton/*.dat
examples/cpuflood/triton/*.asc
examples/cpuflood/triton/*.pyc
examples/cpuflood/triton/fort.*
examples/cpuflood/triton/_plots/
examples/cpuflood/triton/__pycache__/
examples/cpuflood/triton/*.pyc
examples/cpuflood/triton/gauge*

# Ignore patterns for examples/cpuflood/benchmark_tests/flood_speed
examples/cpuflood/benchmark_tests/flood_speed/*.png
examples/cpuflood/benchmark_tests/flood_speed/*.data
examples/cpuflood/benchmark_tests/flood_speed/*.log
examples/cpuflood/benchmark_tests/flood_speed/*.tex
examples/cpuflood/benchmark_tests/flood_speed/*.ini
examples/cpuflood/benchmark_tests/flood_speed/*.out
examples/cpuflood/benchmark_tests/flood_speed/*.dat
examples/cpuflood/benchmark_tests/flood_speed/*.asc
examples/cpuflood/benchmark_tests/flood_speed/*.pyc
examples/cpuflood/benchmark_tests/flood_speed/fort.*
examples/cpuflood/benchmark_tests/flood_speed/_plots/
examples/cpuflood/benchmark_tests/flood_speed/__pycache__/
examples/cpuflood/benchmark_tests/flood_speed/*.pyc
examples/cpuflood/benchmark_tests/flood_speed/gauge*

# Ignore patterns for examples/cpuflood/benchmark_tests/dam_break
examples/cpuflood/benchmark_tests/dam_break/*.png
examples/cpuflood/benchmark_tests/dam_break/*.data
examples/cpuflood/benchmark_tests/dam_break/*.log
examples/cpuflood/benchmark_tests/dam_break/*.tex
examples/cpuflood/benchmark_tests/dam_break/*.ini
examples/cpuflood/benchmark_tests/dam_break/*.out
examples/cpuflood/benchmark_tests/dam_break/*.dat
examples/cpuflood/benchmark_tests/dam_break/*.asc
examples/cpuflood/benchmark_tests/dam_break/*.pyc
examples/cpuflood/benchmark_tests/dam_break/fort.*
examples/cpuflood/benchmark_tests/dam_break/_plots/
examples/cpuflood/benchmark_tests/dam_break/__pycache__/
examples/cpuflood/benchmark_tests/dam_break/*.pyc
examples/cpuflood/benchmark_tests/dam_break/gauge*

# Ignore patterns for examples/cpuflood/benchmark_tests/valley_flood
examples/cpuflood/benchmark_tests/valley_flood/*.png
examples/cpuflood/benchmark_tests/valley_flood/*.data
examples/cpuflood/benchmark_tests/valley_flood/*.log
examples/cpuflood/benchmark_tests/valley_flood/*.tex
examples/cpuflood/benchmark_tests/valley_flood/*.ini
examples/cpuflood/benchmark_tests/valley_flood/*.out
examples/cpuflood/benchmark_tests/valley_flood/*.dat
examples/cpuflood/benchmark_tests/valley_flood/*.asc
examples/cpuflood/benchmark_tests/valley_flood/*.pyc
examples/cpuflood/benchmark_tests/valley_flood/fort.*
examples/cpuflood/benchmark_tests/valley_flood/_plots/
examples/cpuflood/benchmark_tests/valley_flood/__pycache__/
examples/cpuflood/benchmark_tests/valley_flood/*.pyc
examples/cpuflood/benchmark_tests/valley_flood/gauge*

# Ignore patterns for examples/cpuflood/benchmark_tests/trans_shock
examples/cpuflood/benchmark_tests/trans_shock/*.png
examples/cpuflood/benchmark_tests/trans_shock/*.data
examples/cpuflood/benchmark_tests/trans_shock/*.log
examples/cpuflood/benchmark_tests/trans_shock/*.tex
examples/cpuflood/benchmark_tests/trans_shock/*.ini
examples/cpuflood/benchmark_tests/trans_shock/*.out
examples/cpuflood/benchmark_tests/trans_shock/*.dat
examples/cpuflood/benchmark_tests/trans_shock/*.asc
examples/cpuflood/benchmark_tests/trans_shock/*.pyc
examples/cpuflood/benchmark_tests/trans_shock/fort.*
examples/cpuflood/benchmark_tests/trans_shock/_plots/
examples/cpuflood/benchmark_tests/trans_shock/__pycache__/
examples/cpuflood/benchmark_tests/trans_shock/*.pyc
examples/cpuflood/benchmark_tests/trans_shock/gauge*

# Ignore patterns for examples/cpuflood/benchmark_tests/filling_depressions
examples/cpuflood/benchmark_tests/filling_depressions/*.png
examples/cpuflood/benchmark_tests/filling_depressions/*.data
examples/cpuflood/benchmark_tests/filling_depressions/*.log
examples/cpuflood/benchmark_tests/filling_depressions/*.tex
examples/cpuflood/benchmark_tests/filling_depressions/*.ini
examples/cpuflood/benchmark_tests/filling_depressions/*.out
examples/cpuflood/benchmark_tests/filling_depressions/*.dat
examples/cpuflood/benchmark_tests/filling_depressions/*.asc
examples/cpuflood/benchmark_tests/filling_depressions/*.pyc
examples/cpuflood/benchmark_tests/filling_depressions/fort.*
examples/cpuflood/benchmark_tests/filling_depressions/_plots/
examples/cpuflood/benchmark_tests/filling_depressions/__pycache__/
examples/cpuflood/benchmark_tests/filling_depressions/*.pyc
examples/cpuflood/benchmark_tests/filling_depressions/gauge*

# Ignore patterns for examples/cpuflood/benchmark_tests/surface_flow
examples/cpuflood/benchmark_tests/surface_flow/*.png
examples/cpuflood/benchmark_tests/surface_flow/*.data
examples/cpuflood/benchmark_tests/surface_flow/*.log
examples/cpuflood/benchmark_tests/surface_flow/*.tex
examples/cpuflood/benchmark_tests/surface_flow/*.ini
examples/cpuflood/benchmark_tests/surface_flow/*.out
examples/cpuflood/benchmark_tests/surface_flow/*.dat
examples/cpuflood/benchmark_tests/surface_flow/*.asc
examples/cpuflood/benchmark_tests/surface_flow/*.pyc
examples/cpuflood/benchmark_tests/surface_flow/fort.*
examples/cpuflood/benchmark_tests/surface_flow/_plots/
examples/cpuflood/benchmark_tests/surface_flow/__pycache__/
examples/cpuflood/benchmark_tests/surface_flow/*.pyc
examples/cpuflood/benchmark_tests/surface_flow/gauge*

# Ignore patterns for examples/cpuflood/benchmark_tests/disconnected_water_body
examples/cpuflood/benchmark_tests/disconnected_water_body/*.png
examples/cpuflood/benchmark_tests/disconnected_water_body/*.data
examples/cpuflood/benchmark_tests/disconnected_water_body/*.log
examples/cpuflood/benchmark_tests/disconnected_water_body/*.tex
examples/cpuflood/benchmark_tests/disconnected_water_body/*.ini
examples/cpuflood/benchmark_tests/disconnected_water_body/*.out
examples/cpuflood/benchmark_tests/disconnected_water_body/*.dat
examples/cpuflood/benchmark_tests/disconnected_water_body/*.asc
examples/cpuflood/benchmark_tests/disconnected_water_body/*.pyc
examples/cpuflood/benchmark_tests/disconnected_water_body/fort.*
examples/cpuflood/benchmark_tests/disconnected_water_body/_plots/
examples/cpuflood/benchmark_tests/disconnected_water_body/__pycache__/
examples/cpuflood/benchmark_tests/disconnected_water_body/*.pyc
examples/cpuflood/benchmark_tests/disconnected_water_body/gauge*

# Ignore patterns for examples/cudaflood/malpasset
examples/cudaflood/malpasset/*.png
examples/cudaflood/malpasset/*.data
examples/cudaflood/malpasset/*.log
examples/cudaflood/malpasset/*.tex
examples/cudaflood/malpasset/*.ini
examples/cudaflood/malpasset/*.out
examples/cudaflood/malpasset/*.dat
examples/cudaflood/malpasset/*.asc
examples/cudaflood/malpasset/*.pyc
examples/cudaflood/malpasset/fort.*
examples/cudaflood/malpasset/_plots/
examples/cudaflood/malpasset/__pycache__/
examples/cudaflood/malpasset/*.pyc
examples/cudaflood/malpasset/gauge*

# Ignore patterns for examples/cudaflood/teton
examples/cudaflood/teton/*.png
examples/cudaflood/teton/*.data
examples/cudaflood/teton/*.log
examples/cudaflood/teton/*.tex
examples/cudaflood/teton/*.ini
examples/cudaflood/teton/*.out
examples/cudaflood/teton/*.dat
examples/cudaflood/teton/*.asc
examples/cudaflood/teton/*.pyc
examples/cudaflood/teton/fort.*
examples/cudaflood/teton/_plots/
examples/cudaflood/teton/__pycache__/
examples/cudaflood/teton/*.pyc
examples/cudaflood/teton/gauge*

# Ignore patterns for examples/cudaflood/bump
examples/cudaflood/bump/*.png
examples/cudaflood/bump/*.data
examples/cudaflood/bump/*.log
examples/cudaflood/bump/*.tex
examples/cudaflood/bump/*.ini
examples/cudaflood/bump/*.out
examples/cudaflood/bump/*.dat
examples/cudaflood/bump/*.asc
examples/cudaflood/bump/*.pyc
examples/cudaflood/bump/fort.*
examples/cudaflood/bump/_plots/
examples/cudaflood/bump/__pycache__/
examples/cudaflood/bump/*.pyc
examples/cudaflood/bump/gauge*
examples/cudaflood/bump/bump_00*

# Ignore patterns for scripts/amrclaw and geoclaw
scripts/amrclaw/__pycache__/
scripts/geoclaw/__pycache__/
scripts/__pycache__/